---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=false&include_rts=true&screen_name=seinfeldtoday&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="f5b29e500dcf86b187b7cbe49f80ba26",
        oauth_signature="6I63%2BRPqkxHejcBNUGuzjOolGuA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1611460014", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 03:46:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99994'
      X-App-Rate-Limit-Reset:
      - '1611543886'
      X-Connection-Hash:
      - c35e5d8f372680d765a257a02780a361
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1611460914'
      X-Response-Time:
      - '90'
      X-Transaction:
      - 0016e077003620e6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Tue Oct 06 16:00:16 +0000 2015","id":651426756247728131,"id_str":"651426756247728131","full_text":"Modern
        Seinfeld co-author @joshgondelman has co-written a whole book! It''s called
        \"You Blew It,\" and it''s out today! http:\/\/t.co\/PPzFQ4C5y1","truncated":false,"display_text_range":[0,139],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"joshgondelman","name":"Josh
        Gondelman","id":70111948,"id_str":"70111948","indices":[26,40]}],"urls":[{"url":"http:\/\/t.co\/PPzFQ4C5y1","expanded_url":"http:\/\/bit.ly\/1MRmRYU","display_url":"bit.ly\/1MRmRYU","indices":[117,139]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1000262514,"id_str":"1000262514","name":"Modern
        Seinfeld","screen_name":"SeinfeldToday","location":"New York, NY","description":"What
        if Seinfeld were still on the air? (Tweets by @JackPMoore and @JoshGondelman.)","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":745279,"friends_count":0,"listed_count":5118,"created_at":"Sun
        Dec 09 21:51:41 +0000 2012","favourites_count":141,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":510,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2954374125\/0afd5df8dea7c1818da1dcbc438f5a2a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2954374125\/0afd5df8dea7c1818da1dcbc438f5a2a_normal.jpeg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":50,"favorite_count":382,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Sep 18 17:01:00 +0000 2015","id":644919061311291392,"id_str":"644919061311291392","full_text":"George''s
        GF wants a \"no phones at dinner\" rule. G: \"We had a good thing going, Jerry!  Now
        we''re supposed to talk? That can only end badly!\"","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=false&include_rts=true&max_id=306901873095475199&screen_name=seinfeldtoday&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="01747fbb9a0dbea0b57f3cba56726970",
        oauth_signature="7918UtAqm8Tyw1Zzh%2FT%2FQyoqeDo%3D", oauth_signature_method="HMAC-SHA[...]
[...]
