---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts&screen_name=drunkhulk&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="a0c15180f161e49afa76e5444e00618f",
        oauth_signature="2jk2ts7t2HYPEGCUMo0VkfjUSQ8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1611460017", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 03:46:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99986'
      X-App-Rate-Limit-Reset:
      - '1611543886'
      X-Connection-Hash:
      - 51bba12d581d3cc5fd33290717a5985b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '891'
      X-Rate-Limit-Reset:
      - '1611460914'
      X-Response-Time:
      - '128'
      X-Transaction:
      - 00a971ae00a5a8bf
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jan 21 08:38:01 +0000 2021","id":1352173593497624576,"id_str":"1352173593497624576","full_text":"BY
        SERVING LONG ISLAND ICED TEA, THIS BARTENDER INDICATES HE''S MORE INTERESTED
        IN THE DRINKERS IN LONG ISLAND THAN IN THE DRINKERS IN PITTSBURGH!","truncated":false,"display_text_range":[0,145],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":80273245,"id_str":"80273245","name":"DRUNK
        HULK","screen_name":"DRUNKHULK","location":"POLAND","description":"The book
        SMASHED: THE LIFE AND TWEETS OF DRUNK HULK now available: http:\/\/t.co\/czuOQmjekR","url":"http:\/\/t.co\/iusFPh1bUt","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/iusFPh1bUt","expanded_url":"http:\/\/WWW.DRUNKHULK.COM","display_url":"DRUNKHULK.COM","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/czuOQmjekR","expanded_url":"http:\/\/www.amazon.com\/Smashed-Life-Tweets-Drunk-Hulk\/dp\/1500538353\/","display_url":"amazon.com\/Smashed-Life-T\u2026","indices":[67,89]}]}},"protected":false,"followers_count":149896,"friends_count":9,"listed_count":4543,"created_at":"Tue
        Oct 06 10:56:06 +0000 2009","favourites_count":130,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":5169,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2327770501\/22v4taz70jexp905s701_normal.gif","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2327770501\/22v4taz70jexp905s701_normal.gif","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/80273245\/1406097356","profile_link_color":"FF0000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":95,"favorite_count":425,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Mon
        Jan 18 19:22:57 +0000 2021","id":1351248733581750278,"id_str":"1351248733581750278","full_text":"CAN''T
        YOU SEE THAT THIS SERIES IS KILLING HIM!? https:\/\/t.co\/yRdt4ZeWwI","truncated":false,"display_text_range":[0,47],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1351248684827238406,"id_str":"1351248684827238406","indices":[48,71],"media_url":"http:\/\/pbs.twimg.com\/media\/EsCZhQZXYAYjQ2W.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EsCZhQZXYAYjQ2W.jpg","url":"https:\/\/t.co\/yRdt4ZeWwI","display_url":"pic.twitter.com\/yRdt4ZeWwI","expanded_url":"https:\/\/twitter.com\/DRUNKHULK\/status\/1351248733581750278\/photo\/1","type":"photo","sizes":{"large":{"w":526,"h":526,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":526,"h":526,"resize":"fit"},"small":{"w":526,"h":526,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1351248684827238406,"id_str":"1351248684827238406","indices":[48,71],"media_url":"http:\/\/pbs.twimg.com\/media\/EsCZhQZXYAYjQ2W.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EsCZhQZXYAYjQ2W.jpg","url":"https:\/\/t.co\/yRdt4ZeWwI","display_url":"pic.twitter.com\/yRdt4ZeWwI","expanded_url":"https:\/\/twitter.com\/DRUNKHULK\/status\/1351248733581750278\/photo\/1","type":"photo","sizes":{"large":{"w":526,"h":526,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"me[...]
