---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Ml:
      - A
      Status:
      - 403 Forbidden
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 13:50:54 GMT
      X-Transaction:
      - 0a3dd27e6d2372db
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '11'
      X-Connection-Hash:
      - d3662da18d797dee85af431898ad040855608c3549e23fa5dad1397671eb3444
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Tue, 12 Apr 2022 13:50:54 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts&screen_name=drunkhulk&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '7'
      X-Connection-Hash:
      - e70c6111fb723164c400b7164cc2ea7b1cd9e91792dbf52b83f81bfdc3155935
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Tue, 12 Apr 2022 13:50:54 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=drunkhulk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="fc8cbf4f86c2d39ca99b89f6e41616e3",
        oauth_signature="7r6a5VUzB8eoU1ry3VuGUnSBONI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649774762", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 14:46:02 GMT
      X-Transaction:
      - 957777728c3d3598
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1649775445'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '895'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '59'
      X-Connection-Hash:
      - 38db415751d782b41a69fca065f22b040897c1a832b0a47b0714390e6197d95d
    body:
      encoding: UTF-8
      string: '{"id":80273245,"id_str":"80273245","name":"DRUNK HULK","screen_name":"DRUNKHULK","location":"POLAND","profile_location":null,"description":"The
        book SMASHED: THE LIFE AND TWEETS OF DRUNK HULK now available: http:\/\/t.co\/czuOQmjekR","url":"http:\/\/t.co\/iusFPh1bUt","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/iusFPh1bUt","expanded_url":"http:\/\/WWW.DRUNKHULK.COM","display_url":"DRUNKHULK.COM","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/czuOQmjekR","expanded_url":"http:\/\/www.amazon.com\/Smashed-Life-Tweets-Drunk-Hulk\/dp\/1500538353\/","display_url":"amazon.com\/Smashed-Life-T\u2026","indices":[67,89]}]}},"protected":false,"followers_count":144131,"friends_count":10,"listed_count":4388,"created_at":"Tue
        Oct 06 10:56:06 +0000 2009","favourites_count":241,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":5265,"lang":null,"status":{"created_at":"Mon
        Apr 11 18:35:31 +0000 2022","id":1513586557584035840,"id_str":"1513586557584035840","text":"RT
        @PuffChrissy: A cat trapped between life and death. A dog haunted by the ringing
        of a bell. A sheep who makes suicidal copies of herself\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"PuffChrissy","name":"Christian
        A. Dumais","id":7508212,"id_str":"7508212","indices":[3,15]}],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Mon
        Apr 11 18:22:44 +0000 2022","id":1513583340720431111,"id_str":"1513583340720431111","text":"A
        cat trapped between life and death. A dog haunted by the ringing of a bell.
        A sheep who makes suicidal copies of\u2026 https:\/\/t.co\/TWm468Bp2x","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/TWm468Bp2x","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1513583340720431111","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[116,139]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":7,"favorite_count":8,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":7,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2327770501\/22v4taz70jexp905s701_normal.gif","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2327770501\/22v4taz70jexp905s701_normal.gif","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/80273245\/1406097356","profile_link_color":"FF0000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]}'
  recorded_at: Tue, 12 Apr 2022 14:46:02 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts&screen_name=DRUNKHULK&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="ba77a567ef524ff4b11a6914ec5ce3ac",
        oauth_signature="GiW33X7fCVIOVTDQYnLzKv9E01I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649774762", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 14:46:03 GMT
      X-Transaction:
      - aa53dfa6f78eb48f
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1649775189'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1649858763'
      X-Rate-Limit-Remaining:
      - '893'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99958'
      X-Response-Time:
      - '301'
      X-Connection-Hash:
      - f4b6d6e13e7bf4d54bf22d4438839218b80209fae1f9c7d7a57e7cd83ecb2bbb
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Apr 11 14:21:00 +0000 2022","id":1513522508963749891,"id_str":"1513522508963749891","full_text":"NO
        COFFEE FOR THIS CLOSER! https:\/\/t.co\/0zRvyr6dha","truncated":false,"display_text_range":[0,26],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/0zRvyr6dha","expanded_url":"https:\/\/twitter.com\/peltzmadeline\/status\/1513516195613450246","display_url":"twitter.com\/peltzmadeline\/\u2026","indices":[27,50]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":80273245,"id_str":"80273245","name":"DRUNK
        HULK","screen_name":"DRUNKHULK","location":"POLAND","description":"The book
        SMASHED: THE LIFE AND TWEETS OF DRUNK HULK now available: http:\/\/t.co\/czuOQmjekR","url":"http:\/\/t.co\/iusFPh1bUt","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/iusFPh1bUt","expanded_url":"http:\/\/WWW.DRUNKHULK.COM","display_url":"DRUNKHULK.COM","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/czuOQmjekR","expanded_url":"http:\/\/www.amazon.com\/Smashed-Life-Tweets-Drunk-Hulk\/dp\/1500538353\/","display_url":"amazon.com\/Smashed-Life-T\u2026","indices":[67,89]}]}},"protected":f[...]
