---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Ml:
      - A
      Status:
      - 403 Forbidden
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 13:50:53 GMT
      X-Transaction:
      - 4e7dbf64bc0596c5
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '8'
      X-Connection-Hash:
      - a0e4f1c7c622d9b2046fd0a5cc09d40cbd71326abf7cce4d694d9f38d7d2650b
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Tue, 12 Apr 2022 13:50:53 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts&screen_name=boredelonmusk&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - '6'
      X-Connection-Hash:
      - 1acfa872a9f164e00b16ec7eb216e4f82d87211486929971739e2962d8d4aafd
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Tue, 12 Apr 2022 13:50:54 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="ebdfd3c66e560a1e598e79f200003c83",
        oauth_signature="HFdUyD4GCUw6innnU4i0QpCgEis%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649774514", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 14:41:54 GMT
      X-Transaction:
      - aa507a46b9218128
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Reset:
      - '1649775414'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '74'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
      X-Response-Time:
      - '48'
      X-Connection-Hash:
      - d701e4a7dc10ec1fcfca7ec8ba71d2bbf36adc5a4c355c952dd62a45283cc911
    body:
      encoding: UTF-8
      string: '{"id":669343,"id_str":"669343","name":"claytron","screen_name":"claytron","location":"Indianapolis,
        Indiana","description":"programmer, zymurgist, music lover","url":"http:\/\/t.co\/cNpg8OPabi","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/cNpg8OPabi","expanded_url":"http:\/\/claytron.com","display_url":"claytron.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":624,"friends_count":519,"listed_count":52,"created_at":"Sat
        Jan 20 01:54:41 +0000 2007","favourites_count":542,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":3550,"lang":null,"status":{"created_at":"Sat
        Feb 20 23:27:06 +0000 2021","id":1363268975266844679,"id_str":"1363268975266844679","text":"Beautiful
        day for a disc golf tournament. https:\/\/t.co\/yxKExOnx3w https:\/\/t.co\/5cPbQEGLx9","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/yxKExOnx3w","expanded_url":"https:\/\/instagr.am\/p\/CLiDMEfrHKG\/","display_url":"instagr.am\/p\/CLiDMEfrHKG\/","indices":[42,65]}],"media":[{"id":1363268973341659139,"id_str":"1363268973341659139","indices":[66,89],"media_url":"http:\/\/pbs.twimg.com\/media\/EutN6IlXUAMWLsf.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EutN6IlXUAMWLsf.jpg","url":"https:\/\/t.co\/5cPbQEGLx9","display_url":"pic.twitter.com\/5cPbQEGLx9","expanded_url":"https:\/\/twitter.com\/claytron\/status\/1363268975266844679\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1024,"h":1024,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1024,"h":1024,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1363268973341659139,"id_str":"1363268973341659139","indices":[66,89],"media_url":"http:\/\/pbs.twimg.com\/media\/EutN6IlXUAMWLsf.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EutN6IlXUAMWLsf.jpg","url":"https:\/\/t.co\/5cPbQEGLx9","display_url":"pic.twitter.com\/5cPbQEGLx9","expanded_url":"https:\/\/twitter.com\/claytron\/status\/1363268975266844679\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1024,"h":1024,"resize":"fit"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1024,"h":1024,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"404040","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/529862431179165697\/ONLv2ns-_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/529862431179165697\/ONLv2ns-_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/669343\/1358521176","profile_link_color":"303A5F","profile_sidebar_border_color":"696969","profile_sidebar_fill_color":"919191","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[],"suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 12 Apr 2022 14:41:54 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=boredelonmusk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="113a56aa71ce11b41be43a5be7349dd1",
        oauth_signature="vK7mL7Z1OG6sijvOJnh6kUjVnNs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649774545", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 14:42:25 GMT
      X-Transaction:
      - 9db08a0148bb5aa9
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1649775445'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '899'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '88'
      X-Connection-Hash:
      - c44dc2f12b17dd8d32bbc47a92c9b9bc23cefe4dddcb2753b3e42c52a14429ef
    body:
      encoding: UTF-8
      string: '{"id":1666038950,"id_str":"1666038950","name":"@BORED","screen_name":"BoredElonMusk","location":"Mars
        ","profile_location":null,"description":"Fortune favors the Bored. Electronic
        hyper-PARODY, benevolent pseudonym, builder, investor, and student of Hank
        Scorpio. \n..\n...\nCofounder of @BoredBox_\n...\n..","url":"https:\/\/t.co\/RVV2gSG5PS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/RVV2gSG5PS","expanded_url":"http:\/\/boredelon.com","display_url":"boredelon.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":1749642,"friends_count":6586,"listed_count":354[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts&screen_name=BoredElonMusk&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="9a75dd56460b749414f442fc15f22bd3",
        oauth_signature="J38Kzj1lo%2BR%2BEgNZLg3yBfz96N8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1649774762", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 12 Apr 2022 14:46:02 GMT
      X-Transaction:
      - 292e76225f8a9a40
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Reset:
      - '1649775189'
      Content-Disposition:
      - attachment; filename=json.json
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Reset:
      - '1649858763'
      X-Rate-Limit-Remaining:
      - '894'
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-App-Rate-Limit-Remaining:
      - '99959'
      X-Response-Time:
      - '173'
      X-Connection-Hash:
      - 84e918cfc10314541340f33db914e09f10622c2d9c0bc6f30c480af728d1731a
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Apr 11 20:27:57 +0000 2022","id":1513614854635995138,"id_str":"1513614854635995138","full_text":"Characters
        are not a game.\nStory is not a game.\nLand is not a game.\nTokens are not
        a game.\n\nGame mechanics are the game. And the first thing anyone game designer
        should solve for before going to market.","truncated":false,"display_text_range":[0,202],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1666038950,"id_str":"1666038950","name":"@BORED","screen_name":"BoredElonMusk","location":"Mars
        ","description":"Fortune favors the Bored. Electronic hyper-PARODY, benevolent
        pseudonym, builder, investor, and student of Hank Scorpio. \n..\n...\nCofounder
        of @BoredBox_\n...\n..","url":"https:\/\/t.co\/RVV2gSG5PS","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/RVV2gSG5PS","expanded_url":"http:\/\/boredelon.com","display_url":"boredelon.com","indices":[0,23]}]},"de[...]
