---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&exclude_replies=true&include_rts&screen_name=boredelonmusk&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="T0TLbuEvesIIUJrYZALTket2r", oauth_nonce="eed089e2774671a1acb1463a1a8a9347",
        oauth_signature="aHEOFNCMxl1l90Z0R600nOSrfEQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1611460017", oauth_token="669343-KYahkPrKlWQ8WZE0s9W58GDmnkw6aF79YYiQSqzqZH4",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 24 Jan 2021 03:46:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99987'
      X-App-Rate-Limit-Reset:
      - '1611543886'
      X-Connection-Hash:
      - dd830cc44b4a43d628d8e3bf8aca886b
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '892'
      X-Rate-Limit-Reset:
      - '1611460914'
      X-Response-Time:
      - '100'
      X-Transaction:
      - 0026a86c003fd5fa
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jan 21 23:13:38 +0000 2021","id":1352393948619182080,"id_str":"1352393948619182080","full_text":"Dirigibles
        made of CO2-thirsty sponges. https:\/\/t.co\/uTgn0NJbbL","truncated":false,"display_text_range":[0,39],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/uTgn0NJbbL","expanded_url":"https:\/\/twitter.com\/elonmusk\/status\/1352392678177034242","display_url":"twitter.com\/elonmusk\/statu\u2026","indices":[40,63]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1666038950,"id_str":"1666038950","name":"Bored
        Elon Musk","screen_name":"BoredElonMusk","location":"Mars","description":"Thoughts
        and inventions from Elon in his downtime. A futuristic hyper-PARODY account.
        XLM Donations = GALNZBGZMMEVU2WSRC7ZGCYVXKVZCD2P73OOF5IXGJY665G7ZBNCG2EW","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1706383,"friends_count":2174,"listed_count":3134,"created_at":"Mon
        Aug 12 21:08:31 +0000 2013","favourites_count":14040,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1735,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000305778238\/852d2f76797dbe1da82095f988d38fbe_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000305778238\/852d2f76797dbe1da82095f988d38fbe_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1666038950\/1402403530","profile_link_color":"01080A","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":1352392678177034242,"quoted_status_id_str":"1352392678177034242","quoted_status_permalink":{"url":"https:\/\/t.co\/uTgn0NJbbL","expanded":"https:\/\/twitter.com\/elonmusk\/status\/1352392678177034242","display":"twitter.com\/elonmusk\/statu\u2026"},"quoted_status":{"created_at":"Thu
        Jan 21 23:08:35 +0000 2021","id":1352392678177034242,"id_str":"1352392678177034242","full_text":"Am
        donating $100M towards a prize for best carbon capture technology","truncated":false,"display_text_range":[0,68],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_st[...]
