---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 08 Jan 2021 16:03:32 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 65b2fda6b914e3447d5ea495005cb7f6
      X-Response-Time:
      - '11'
      X-Transaction:
      - 003bc1fa00df8979
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"<RAUTH>"}'
  recorded_at: Fri, 08 Jan 2021 16:03:32 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1&exclude_replies=true&include_rts&screen_name=drunkhulk
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 08 Jan 2021 16:03:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99917'
      X-App-Rate-Limit-Reset:
      - '1610123350'
      X-Connection-Hash:
      - f45c18afb504dfb34232cfcf0c55c104
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1498'
      X-Rate-Limit-Reset:
      - '1610122711'
      X-Response-Time:
      - '30'
      X-Transaction:
      - 00ddb45100bec7a8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Jan 06 20:17:02 +0000 2021","id":1346913686892531713,"id_str":"1346913686892531713","text":"FUCK
        THIS!","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":80273245,"id_str":"80273245","name":"DRUNK
        HULK","screen_name":"DRUNKHULK","location":"POLAND","description":"The book
        SMASHED: THE LIFE AND TWEETS OF DRUNK HULK now available: http:\/\/t.co\/czuOQmjekR","url":"http:\/\/t.co\/iusFPh1bUt","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/iusFPh1bUt","expanded_url":"http:\/\/WWW.DRUNKHULK.COM","display_url":"DRUNKHULK.COM","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/czuOQmjekR","expanded_url":"http:\/\/www.amazon.com\/Smashed-Life-Tweets-Drunk-Hulk\/dp\/1500538353\/","display_url":"amazon.com\/Smashed-Life-T\u2026","indices":[67,89]}]}},"protected":false,"followers_count":150497,"friends_count":9,"listed_count":4561,"created_at":"Tue
        Oct 06 10:56:06 +0000 2009","favourites_count":122,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":5165,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2327770501\/22v4taz70jexp905s701_normal.gif","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2327770501\/22v4taz70jexp905s701_normal.gif","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/80273245\/1406097356","profile_link_color":"FF0000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":45,"favorite_count":223,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Fri, 08 Jan 2021 16:03:32 GMT
recorded_with: VCR 6.0.0
